@model List<File>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<p>
    @Html.ActionLink("Upload New", "Upload")
</p>

<table class="table">
    <tr>
        <th>
            File Name
        </th>
        <th>
            File Link
        </th>
        <th>
            Comment
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                <a href="@item.FileLink" target="_blank">@item.FileLink</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FileId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FileId })
            </td>
        </tr>
    }

</table>